[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
betfairlightweight = "*"
python-dotenv = "*"
tenacity = "*"
flask = "*"
celery = "*"
flask-sse = "*"
redis = "*"
docker = "*"
flask-session = "*"
cryptography = "*"
gunicorn = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.9"
