<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Selection</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .vertical-tab {
            max-width: 200px;
            border-right: 1px solid #ccc;
            overflow-y: auto;
        }
        .market-item {
            cursor: pointer;
            padding: 10px;
            border-bottom: 1px solid #eaeaea;
        }
        .market-item:hover {
            background-color: #f8f9fa;
        }
        /* table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px auto;
        } */
        td {
            /* border: 1px solid black; */
            text-align: center;
            vertical-align: middle;
            padding: 20px;
            font-size: 20px;
        }
        .small-text {
            font-size: 14px; /* Smaller font size */
            display: block; /* Ensures it appears below */
        }
        #temp-message {
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            z-index: 1050; /* Ensures it's above other elements */
        }
    </style>
</head>
<body class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <!-- Vertical Tab Section -->
            <div class="col-md-3 col-lg-2 vertical-tab bg-white shadow-sm">
                <!-- <button class="btn btn-primary mb-2" data-bs-toggle="collapse" data-bs-target="#market-list" >
                    Show / Hide Markets
                </button> -->
                <div id="market-list" class="list-group">
                    <h5 class="text-center my-3">Markets</h5>
                    {% for market in markets %}
                    <div class="market-item list-group-item list-group-item-action" id="{{ market.id }}">
                        {{ market.market_name }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Content Section -->
            <div class="col-md-9 col-lg-10 p-4">
                <button id="blueButton" class="btn btn-primary btn-lg mb-3" onclick="toggleMode('blue')">Z</button>
                <button id="greenButton" class="btn btn-success btn-lg mb-3" onclick="toggleMode('green')">X</button>  
                <h3 class="mb-4" id="update_time">Selected Markets <span class="small-text">updated_at: {{ update_time }}</span></h3>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>Market Name</th>
                                <th>Selection</th>
                                <th>Size</th>
                                <th>Min Price</th>
                                <th>BACK</th>
                                <th>Best Price</th>
                                <!-- <th colspan="5">BACK</th> -->
                            </tr>
                        </thead>
                        <tbody id="selected-markets">
                            <!-- Selected markets will be dynamically populated -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        let priceList = {};
        $(document).ready(function () {
            let selectedIds = [];

            // Handle market item click
            $(".market-item").on("click", function () {
                const marketId = $(this).attr('id');
                $(this).toggleClass("active"); // Highlight selected item

                if (selectedIds.includes(marketId)) {
                    selectedIds = selectedIds.filter(id => id !== marketId);
                } else {
                    selectedIds.push(marketId);
                }

                // Fetch selected markets from the server
                $.ajax({
                    url: "/get-market",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ selected_ids: selectedIds }),
                    success: function (data) {
                        // Update table with selected markets
                        const tableBody = $("#selected-markets");
                        const el_updatetime = document.getElementById("update_time");
                        const selected_markets = data.selected_markets
                        el_updatetime.innerHTML = `Selected Markets <span class="small-text">updated_at: ${data.update_time}</span>`
                        tableBody.empty();
                        selected_markets.forEach(market => {
                            tableBody.append(`
                                <tr>
                                    <td>${market.market_name}</td>
                                    <td>${market.selection_name}</td>
                                    <td><input type="number"></td>
                                    <td class="min-price">${market.price.at(-1)}</td>
                                    <td>
                                        <canvas id="${market.id}" height="40"></canvas>
                                        <span>
                                            <input type="range" class="form-range slider-min" 
                                            id="slider-min-${market.id}" 
                                            data-id="${market.id}" 
                                            min="0" 
                                            max="9"
                                            step="1"
                                            value="10"
                                            oninput="updatePrice(this)"
                                            >
                                            </span>
                                        </td>
                                    <td class="max-price">${market.price.at(-1)}</td>
                                </tr>
                            `);

                            priceList[`slider-min-${market.id}`] = market.price;

                            var ctx = document.getElementById(market.id).getContext("2d");
                            new Chart(ctx, {
                                type: "bar",
                                data: {
                                    labels: market.levels,
                                    datasets: [{
                                        label: "Scores",
                                        data: market.size,
                                        backgroundColor: "rgba(54, 162, 235, 0.6)"
                                    }]
                                },
                                options: {
                                    responsive: false,
                                    scales: { y: { display: false }, x: { display: false } },
                                    plugins: { legend: { display: false } }
                                }
                            })
                        });

                    }
                });
            });
        });
        // Function to update price when slider moves
        function updatePrice(slider) {
            // if (priceList.length === 0) return;  // Ensure prices are loaded
            let row = slider.closest("tr");
            let priceCell = row.querySelector(".min-price");
            priceCell.textContent = priceList[slider.id].at(slider.value);  // Update price
        }
    </script>
    <script>
        // Open an EventSource connection to the Flask SSE endpoint
        const eventSource = new EventSource('/stream');

        // Listen for 'update' events
        eventSource.addEventListener('update', function(event) {
            // Parse the incoming data
            const data = JSON.parse(event.data);

            // Find the element by ID
            const element = document.getElementById(data.id);
            const el_updatetime = document.getElementById("update_time");
            // if (element) {
            //     // Update the price and time fields
            //     element.innerHTML = `${data.price}<br><span class="small-text">(£${data.size})</span>`;
            //     el_updatetime.innerHTML = `Selected Markets <span class="small-text">updated_at: ${data.update_time}</span>`
            // }

            var ctx = document.getElementById(data.id).getContext("2d");
            new Chart(ctx, {
                type: "bar",
                data: {
                    labels: data.levels,
                    datasets: [{
                        label: "Scores",
                        data: data.size,
                        backgroundColor: "rgba(54, 162, 235, 0.6)"
                    }]
                },
                options: {
                    responsive: false,
                    scales: { y: { display: false }, x: { display: false } },
                    plugins: { legend: { display: false } }
                }
            });

        });

        eventSource.onerror = function() {
            console.error("EventSource failed. Retrying...");
        };
    </script>
    <script>
        // let priceList = [];

        // // Function to fetch updated price list from Flask
        // function fetchPrices() {
        //     fetch('/get_prices')  // AJAX request to Flask
        //         .then(response => response.json())
        //         .then(data => {
        //             priceList = data;
        //             console.log("Updated Price List:", priceList);
        //             updateAllPrices();  // Update all visible prices
        //         })
        //         .catch(error => console.error("Error fetching prices:", error));
        // }

        

        // // Function to update price when slider moves
        // function updatePrice(slider) {
        //     if (priceList.length === 0) return;  // Ensure prices are loaded
        //     let row = slider.closest("tr");
        //     let priceCell = row.querySelector(".min-price");
        //     priceCell.textContent = priceList[slider.value];  // Update price
        // }

        // // Update all rows (after fetching prices)
        // function updateAllPrices() {
        //     document.querySelectorAll("input[type='range']").forEach(slider => {
        //         updatePrice(slider);
        //     });
        // }

        // // Fetch prices when the page loads
        // window.onload = fetchPrices;
    </script>



</body>
</html>
